.sider {
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #93D8FF;
  }
  

  
  .content {
    text-align: center;
    min-height: 120px;
    line-height: 120px;
    color: #fff;
    background-color: #ffffff;
  }
  
  .footer {
    text-align: center;
    color: #a19a9a;
    background-color: #f1f1f1;
  }
  
 